body {
    background-image: url("../img/imageOfMainPage.jpg");
    background-size: 100% 100%;
}

.filter {
    grid-area: filter;
}

.content {
    grid-area: content;
}

.buttons {
    grid-area: buttons;
}

.form {
    grid-area: buttons;
}

.grid-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    grid-template-areas: "........  buttons content ........ ........"
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    padding: 5px;
    margin: 5px;
    display: table-cell;
}

.name {
    font-weight: bold;
    font-size: 20px;
}

.profile {
    display:flex;
}

.page_photo {
    border: 1px solid black;
    height: 270px;
    width: 230px;
}

.photo {
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    border: 1px solid black;
    height: 200px;
    width: 200px;
    background-size: cover;
}

.button_add_photo {
    text-align: center;
}