body {
    background-image: url("../img/imageOfWelcomePage2.jpg");
    background-size: 100% 100%;
}

.form {
    grid-area: form;
}

.content {
    grid-area: content;
}

.grid-container {
    display: grid;
    grid-column-gap: 20px;
    /*grid-row-gap: 20px;*/
    grid-template-columns: 1.5fr 0.5fr 3fr 0.5fr 1.5fr;
    grid-template-areas:
            "...... form filter  ...... ......"
            "...... form content ...... ......"
}


.form {
    margin-top: 10px;
    height: 20vh;
}

.element {
    margin: 10px;
}