.quest, .step {
    border: 1px solid black;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
    background-color: oldlace;
}

.answer {
    border: 1px solid black;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
    background-color: oldlace;
    width: 100px
}

.closeGame {
    border: 1px solid black;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
    background-color: grey;
    width: 100px

}

.closeGame:hover {
    background-color: dimgray;
}
.quest:hover {
    /*padding: 10px;*/
    background-color: lemonchiffon;
}

.answer:hover {
    /*padding: 10px;*/
    background-color: lemonchiffon;
}

.inventory {
    border: 1px solid black;
    background-color: oldlace;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
}