.personal {
    display: flex;
    flex-flow: row;
}

.personal .left {
    border: 1px solid black;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
    width: 15%;
    height: 20%;
}
.personal .right {
    border: 1px solid black;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
    width: 85%;
    height: 20%;
}

.profile {
    width: 50%;
    margin: 0 auto;
}

.quests {
    border: 1px solid black;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
}



.divTable{
    display: table;
    width: 80%;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    display: table-cell;
    padding: 3px 10px;
}
.divTableHeading {
    background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: bold;
}
.divTableBody {
    display: table-row-group;
}

.backWhile {
    background-color: white;
}

.backGrey {
    background-color: #f5f5f5;
}
/**/
body {
    background-size: 100% 100%;
    /*background-color: aliceblue;*/
    background-image: url("http://razum64.ru/media/k2/items/cache/ffee2447b152494b43d9816faaea83c8_XL.jpg");
}

.quest, .step, .answer, .closeGame, .subject, .event, .subjects, .events{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
}

.image {
    background-image: url("http://iq-play.ru/uploads/quest/5_full.jpg");
}

.subjects, .events {
    background-color: oldlace;
}

.quest, .step {
    background-color: oldlace;
}

.answer {
    background-color: oldlace;
    width: 300px;
}

.closeGame {
    background-color: grey;
    width: 10%
}

.closeGame:hover {
    background-color: dimgray;
}

.quest:hover, .answer:hover {
    background-color: lemonchiffon;
}

.subject, .event {
    background-color: oldlace;
}

.container {
    display: flex;
    flex-flow: row;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}