/*.container {*/
    /*background-image: url(https://jenprocterandrews.files.wordpress.com/2011/09/crossroads_2.jpg);*/
    /*background-size: cover*/
/*}*/

body {
    background-size: cover
}

.quest, .step, .answer, .closeGame, .inventory {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
}

.subject, .event {
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
}

.quest, .step {
    background-color: oldlace;
}

.answer {
    background-color: oldlace;
    width: 300px
}

.closeGame {
    background-color: grey;
    width: 300px

}

.closeGame:hover {
    background-color: dimgray;
}

.quest:hover {
    background-color: lemonchiffon;
}

.answer:hover {
    background-color: lemonchiffon;
}

.inventory {
    background-color: oldlace;
}

.container {
    display: flex;
    flex-flow: row;
}

.left {
    width: 70%;
}

.right {
    width: 30%;
}