<div class="profile">
    <div class="table">
        <div class="row">
            <div class="cell">
                Имя:
            </div>
            <div class="cell name">
                {{name}}
            </div>
        </div>
        <div class="row">
            <div class="cell">
                Уровеь:
            </div>
            <div class="cell">
                {{level}}
            </div>
        </div>
        <div class="row">
            <div class="cell">
                Опыт:
            </div>
            <div class="cell">
                {{experience}}
            </div>
        </div>
    </div>
</div>