<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>Web Game</title>
  <link rel="stylesheet" href="../css/preview.css">
  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')
  </script>


</head>
<body>

  <div class="wrapper">
    
    <div class="upperBlock">
        
      <div class="btn-play">Начать игру</div>

    </div>
    
    <div class="bottomBlock">
      
      <div class="infoBlock">
        
        <h1>Lorem ipsum dolor.</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore modi repudiandae eaque! Esse, atque architecto culpa expedita praesentium alias magnam repellendus, placeat ipsum, velit voluptas.</p>

      </div>
      <div class="infoBlock">
        
        <h1>Lorem ipsum dolor.</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore modi repudiandae eaque! Esse, atque architecto culpa expedita praesentium alias magnam repellendus, placeat ipsum, velit voluptas.</p>

      </div>
      <div class="infoBlock">
        
        <h1>Lorem ipsum dolor.</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore modi repudiandae eaque! Esse, atque architecto culpa expedita praesentium alias magnam repellendus, placeat ipsum, velit voluptas.</p>

      </div>

    </div>

  </div>

</body>
</html>

