<html>

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/welcomePage.css">
<link rel="stylesheet" type="text/css" href="css/quests_1.css">
<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
<title>Мир Квестов</title>
</head>

<body>

<div id="flex_container" class="flex_container">

	<div id="head" class="head">
		<div class="head_content">
			<div id="button_quest" class="head_button" description="Квесты">
				<i class="fa fa-book fa-2x" aria-hidden="true"></i>
			</div>
			<div id="button_news" class="head_button" description="Новости">
				<i class="fa fa-newspaper-o fa-2x" aria-hidden="true" data-description="Новости"></i>
			</div>
			<div id="button_our" class="head_button" description="О нас">
				<i class="fa fa-users fa-2x" aria-hidden="true"></i>
			</div>
			<div id="entry" class="head_button entry" description="Войти">
				<i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
			</div>
			<div id="registration" class="head_button" description="Регистрация">
				<i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
			</div>
		</div>
	</div>

	<div id="content" class="content">
	
		<div id="content_description" class="content_description">
			<h1 class="content_description_title">Текстовые квесты</h1>
			<p class="content_description_text">Текстовые квесты - интерактивная художественная литература, 
				разновидность компьютерных игр, в которых общение с игроком осуществляется посредством текстовой информации.
				Текст нужно подшлифовать
			</p>
			<p class="content_description_text">Для того чтобы записывалсь статистика и сохранялись игры - зарегестрируйтесь.</p>
		</div>
	
		<div id="filter" class="filter">
			<span class="filter_text">Категория квеста:</span>
			<div class="filter_categories">
				<div class="filter_category">
					<span class="filter_category_text">Трагедия</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Комедия</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Драма</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Роман</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Вестерн</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Приключение</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Детектив</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Триллер</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Гангстерский</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Фантастика</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Ужасы</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Психологический</span>
				</div>
				<div class="filter_category">
					<span class="filter_category_text">Логический</span>
				</div>
			</div>
			<span class="filter_text">Уровень сложности:</span>
			<div class="filter_difficulties">
				<div class="filter_difficulty">
					<span class="filter_category_text">Легко</span>
				</div>
				<div class="filter_difficulty">
					<span class="filter_category_text">Средне</span>
				</div>
				<div class="filter_difficulty">
					<span class="filter_category_text">Тяжело</span>
				</div>
			</div>
			<div class="filter_button">
				<span class="filter_button_text"><i class="fa fa-search" aria-hidden="true"></i> Искать</span>
			</div>
		</div>

		<div id="quests" class="quests">
			<div id="quest_1" class="quest">
				<div class="quest_picture"> 
					<div class="rate">
						<i class="fa fa-star"></i>
						<div class="rate_number">9.8</div>
					</div>
					<span class="quest_description_text">12345 6789выавы</span>
				</div>
				<span class="quest_name">Два миньона</span>
				<div class="categories">
					<div class="quest_category">
						<span class="category_text">Комедия</span>
					</div>
					<div class="quest_category">
						<span class="category_text">Гангстерский</span>
					</div>
					<div class="quest_category">
						<span class="category_text">Легко</span>
					</div>
				</div>
				<div class="quest_play">Играть</div> 
			</div>
			
			<div id="quest_2" class="quest">
				<div class="quest_picture" quest_description="Описание второго квеста. Вам предстоит прогулка по дивным лесам.">
					<div class="rate">
						<i class="fa fa-star"></i>
						<div class="rate_number">5.3</div>
					</div>
					<span class="quest_description_text">Описание второго квеста. Вам предстоит прогулка по дивным лесам.</span>
				</div>
				<span class="quest_name">1 + 1 миньон</span>
				<div class="categories">
					<div class="quest_category">
						<span class="category_text">Комедия</span>
					</div>				
					<div class="quest_category">
						<span class="category_text">Средне</span>
					</div>
				</div>
				<div class="quest_play">Играть</div> 
			</div>
			
			<div id="quest_3" class="quest">
				<div class="quest_picture">
					<div class="rate">
						<i class="fa fa-star"></i>
						<div class="rate_number">6.8</div>
					</div>
					<span class="quest_description_text">Описание третьего квеста. Вам предстоит прогулка по дивным лесам.</span>
				</div>
				<span class="quest_name">Квест 3</span>
				<div class="categories">
					<div class="quest_category">
						<span class="category_text">Комедия</span>
					</div>
					<div class="quest_category">
						<span class="category_text">Ужасы</span>
					</div>					
					<div class="quest_category">
						<span class="category_text">Триллер</span>
					</div>							
					<div class="quest_category">
						<span class="category_text">Средне</span>
					</div>
				</div>
				<div class="quest_play">Играть</div> 
			</div>
		</div>

		<div id="loader" class="loader">
			<div class="loader_button">
				<span class="loader_text"><i class="fa fa-refresh" aria-hidden="true"></i> Показать еще</span>
			</div>
		</div>

		<hr>
		<div id="tail" class="tail">
			
		</div>
	
	</div>
	
</div>

</body>

</html>
