<div class="entry-container">
    <div id="enemy_player" class="cards_player">
        <div class="cards">
            {{#arena_cards 14 8 this.anotherClient.hero.warriors this.currentWarrior.id false}}{{/arena_cards}}
        </div>

        <div class="cards">
            {{#arena_cards 7 1 this.anotherClient.hero.warriors this.currentWarrior.id false}}{{/arena_cards}}
        </div>
    </div>

    <div id="me" class="cards_player">
        <div class="cards">
            {{#arena_cards 1 7 this.me.hero.warriors this.currentWarrior.id true}}{{/arena_cards}}
        </div>

        <div class="cards">
            {{#arena_cards 8 14 this.me.hero.warriors this.currentWarrior.id true}}{{/arena_cards}}
        </div>
    </div>

    <div class="options_block">

        <div id="queue" class="queue">
            {{#queue this.warriors this.me.id}}{{/queue}}
        </div>

        <div class="menu">
            <div class="menu_first_line">
                <button onclick="defense()">Защита</button>
                <br><br>
            </div>
            <div class="menu_second_line">
                <button onclick="surrendered()">Сдаться</button>
            </div>
        </div>

    </div>

</div>

