<div class="position">
    <span class="position_name">{{position}}.</span>
</div>
<div id="client" class="client">
    <div id="photo_rate" class="photo_rate">
        <div class="code">{{code}}</div>
    </div>

    <span class="name">{{name}}</span>
    <span class="experience">{{experience}}</span>

</div>