<div class="shop-card">
    <div class="attack_and_defense">
        <div class="attack">АТК {{this.warriorCharacteristics.attack}}</div>
        <div class="defense">ЗЩТ {{this.warriorCharacteristics.physicalDefense}}</div>
    </div>
    <img src="/img/{{this.pictureName}}" alt="Archer">
</div>
