<div class="container">
    <div class="cards_player">
        <div class="cards">
            {{#position 1 warriors}}{{/position}}
            {{#position 2 warriors}}{{/position}}
            {{#position 3 warriors}}{{/position}}
            {{#position 4 warriors}}{{/position}}
            {{#position 5 warriors}}{{/position}}
            {{#position 6 warriors}}{{/position}}
            {{#position 7 warriors}}{{/position}}
        </div>

        <div class="cards">
            {{#position 8 warriors}}{{/position}}
            {{#position 9 warriors}}{{/position}}
            {{#position 10 warriors}}{{/position}}
            {{#position 11 warriors}}{{/position}}
            {{#position 12 warriors}}{{/position}}
            {{#position 13 warriors}}{{/position}}
            {{#position 14 warriors}}{{/position}}
        </div>

    </div>

    <button onclick="acceptWarriorPosition()">Принять</button>

    <div class="options_block">
        <div id="queue" class="queue">
            {{#each warriors}}
                {{#if_eq main false}}
                    <div id="warrior_{{id}}" class="warrior card" onclick="setCurrentWarrior({{id}})">
                        <img src="/img/{{pictureName}}" alt="Archer">
                    </div>
                {{/if_eq}}
            {{/each}}
        </div>

    </div>

</div>