* {
    margin: 0;
    padding: 0;
}

html,
body {
    /*background-color: #666;*/
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.entry-container {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.entry-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result {
    /*background: linear-gradient(to bottom, #ff0000 -30%, #222 90%);*/
    background: #333;
    height: 65%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    border-radius: 15px;
    border: 2px solid #222;
}

.result > h1 {
    margin-top: 10px;
}

.win::after {
    content: "Победа!";
    margin-top: 10px;
    font-size: 56px;
    font-family: times, serif;
    letter-spacing: 4px;
    color: rgba(20, 200, 20, 1);
    text-shadow: 0 0 20px rgba(20, 150, 20, 1);
}

.lose::after {
    content: "Поражение";
    margin-top: 10px;
    font-size: 56px;
    font-family: times, serif;
    letter-spacing: 4px;
    color: rgba(200, 20, 20, 1);
    text-shadow: 0 0 20px rgba(150, 20, 20, 1);
}

.fa-trophy,
.fa-star {
    color: #ffd700;

}

.rating,
.exp {
    margin-top: 20px;
    font-size: 26px;
    color: white;
}

.flex-container {
    display: flex;
    flex-direction: row;
}





