* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: sans-serif;
    height: 100%;
    width: 100%;
}

.entry-container {
    background: linear-gradient(to top, #007FAE, #BC0000);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cards_player {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cards {
    display: flex;
    justify-content: center;
}

.card {
    margin: 15px 10px 0 20px;
    border-radius: 10px;
    border: 1px solid #ffd700;
    height: 150px;
    width: 120px;
    background: transparent;
    color: #ffd700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    box-shadow: 2px 2px 10px black;
    flex-direction: column;
    cursor: pointer;
}

.warrior > img {
    height: 80%;
    width: 100%;
}

.cards_player_B {
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.hp_block {
    flex: 1;
    width: 100%;
    background: red;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
    display: flex;
}

.hp_left {
    background: green;
    width: 60%;
    border-bottom-right-radius: 9px;
    border-bottom-left-radius: 9px;
}

.attack_and_defense {
    display: flex;
    flex: 1;
    width: 100%;
    border-top-right-radius: 9px;
    border-top-left-radius: 9px;
    font-size: 10px;
    justify-content: space-between;
}

.attack {
    flex: 1;
    padding: 0 0 0 5px;
    margin: 0;
    text-align: left;
    align-self: center;
}

.defense {
    flex: 1;
    padding: 0 5px 0 0;
    margin: 0;
    text-align: right;
    align-self: center;
}

.options_block {
    display: flex;
    flex: .3;
    background-color: rgba(25, 25, 25, .3);
    border-top: 2px solid rgba(25, 25, 25, .5);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.queue {
    display: flex;
    flex: 2;
    align-items: center;
    padding: 0 20px 0 100px;
}

.queue > .now {
    margin-right: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
}

.now > img,
.next > img {
    height: 100%;
    width: 100%;
}

.now > img {
    border-radius: 50px;
}

.queue > .next {
    margin-right: 20px;
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

.next > img {
    border-radius: 35px;
}

.menu {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(25, 25, 25, .5);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
    text-align: center;
}

.menu_first_line {
    display: flex;
    flex: 1;

}

.menu_second_line {
    display: flex;
    flex: 1;
}

.next_move {
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.surrender {
    flex: 1;
    border: 1px solid black;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (min-width: 900px) {
    .card {
        width: 100px;
        height: 140px;
    }

    .queue > .now {
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }

    .queue > .next {
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }
}

.myWarrior {
    border: 2px solid red;
}

.currentWarrior {
    box-shadow: 0 0 50px #ffd700;
}

