* {
    margin: 0;
    padding: 0;
}

@font-face {
    /*font-family: Roboto;*/
    src: url(../fonts/RobotoRegular.ttf);
    src: url(../fonts/ArimoRegular.ttf);
    font-family: Arimo;
}

body {
    font-family: 'Arimo', sans-serif;
    background-color: rgb(50, 50, 50);
}

.home {
    margin: 10px;
    width: 100px;
    height: 50px;
    line-height: 50px;
    background: rgba(20, 20, 20, .5);
    position: absolute;
    color: white;
    text-align: center;
    border-radius: 5px;
    transition: all .1s ease-in-out;

}

.home:hover {
    background: rgba(20, 20, 20, 1);
    cursor: pointer;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.register-login_box {
    background-color: rgba(0, 0, 0, .5);
    height: 510px;
    width: 400px;
    border-radius: 5px;
    color: white;
    font-size: 20px;
}

input[type="text"], input[type="password"] {
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
    height: 30px;
    width: 260px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    color: white;
    font-size: 20px;
    text-align: center;
}

input[name="repeatPassword"] {
    margin-bottom: 45px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: 0;
}

input[type="submit"] {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    width: 280px;
    background-color: rgba(104, 104, 104, .5);
    cursor: pointer;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    letter-spacing: 1px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
    border: 1px rgba(0, 0, 0, 1);
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
    transition: all .1s;
    transition-timing-function: ease;
    outline: none;
}

form {
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

input[type="submit"]:hover {
    background-color: rgba(255, 51, 0, .8);
    box-shadow: 0 0 10px rgba(0, 0, 0, .7);
}

.login_box_text {
    display: block;
    font-size: 16px;
    overflow: auto;
    margin-right: 35px;
    text-align: right;
}

.login_text {
    padding: 10px;
    margin-right: 0
}

h1 {
    font-size: 36px;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 20px;
    letter-spacing: 2px;
}

.error-msg {
    font-size: 16px;
    animation: .8s blinker linear;
    -webkit-animation: .8s blinker linear;
    -moz-animation: .8s blinker linear;
    animation-iteration-count: 2;
    color: red;
}

@-moz-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@-webkit-keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

@keyframes blinker {
    0% {
        opacity: 1.0;
    }
    50% {
        opacity: 0.0;
    }
    100% {
        opacity: 1.0;
    }
}

a {
    color: red;
}

a:active {
    color: rgb(153, 0, 0);
}

::-webkit-input-placeholder {
    color: rgba(200, 200, 200, .6);
}

::-moz-placeholder {
    color: rgba(200, 200, 200, .6);
}

:-moz-placeholder {
    color: rgba(200, 200, 200, .6);
}

:-ms-input-placeholder {
    color: rgba(200, 200, 200, .6);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}






