body {
	margin:0px;
	background-color:#2D2D2D;
	color:white;
	font-family:'Open Sans',
		Arial,
		sans-serif
}

#anchor {
	display: none;
	position: fixed;
	bottom:160px;
}

#anchor:hover {
	color: #000;
	cursor:pointer;
}

.flex_container {
	display:flex;
	flex-direction:column;
}

.content {
	/*margin:0 5%;*/
	margin:0 auto;
}

.head {
	position:fixed;
	z-index:2;
	background-color:black;
	width:100%;
}

a {
	text-decoration:none;
	color:white;
}

.head_content, .tail_content {
	display:flex;
	flex-direction:row;
	margin:0 auto;
}

.content, .head_content, .tail_content {
	width:1200px;
}

.head_button {
	position:relative;
	padding:15px;
	text-align:center;
	width:90px;
}

.head_button:hover {
	cursor:pointer;
	top:2px;
}

.entry {
	margin-left:auto;
}

.head:hover .head_button:after{
	display:block;
	text-align:center;
	content:attr(description);
}

.head{
	box-shadow:0 5px 5px black;
}

.content_description {
	margin: 110px 0 10px 0;
}

.content_description_text, .content_description_title {
	text-align:center;
}

.content_description_text {
	font-size:21px;
}

.tail {
	margin-top:10px;
	width:100%;
	box-shadow:0 -5px 5px black;
	background-color:black;
}

.tail_addres {
	margin:10px auto 10px 0;
	padding:10px;
}

.tail_addres_text {
	font-size:21px;
}

.tail_email {
	margin-top:20px;
}

.tail_email_text {
	font-size:16px;
}

.tail_phone {
	margin-top:10px;
}

/* Подсветка текущей вкладки
.button_quest {
	color:moccasin;
}
*/